<footer>
  <div id="return-top" class="return-top">
    <img src="/pic/rocket-launch.svg" width="35px" height="35px" alt="">
  </div>
  <!-- <nav class="foot-nav">
    <ul>
      <li><span>你</span></li>
      <li><span>一会看我</span></li>
      <li><span>一会看云</span></li>
      <li><span>我觉得</span></li>
      <li><span>你看我时很远</span></li>
      <li><span>你看云时很近</span></li>
    </ul>
    <span class="mylogo">© 2018 ppttfish的博客</span>
  </nav> -->
</footer>