<div class="modal-dialog search-dialog">
  <div class="modal-content">
    <div class="modal-head">
        <div class="container modal-head-container">
            <h1><a  class="head-logo" href="/">PPTTFish</a></h1>
            <div class="modal-close">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-close"></use>
              </svg>
            </div>
          </div>
    </div>
    <div class="search-body container">
      <form action="">
        <div class="searh-body-icon">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-search"></use>
          </svg>
        </div>
        <input type="text">
      </form>
    </div>
  </div>
</div>